/* Base styles for NavigationBar */
.navigation-bar {
  font-family: 'GothamPro', sans-serif;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

/* Logo image */
.navigation-bar__logo img {
  height: 5rem;
  width: 7rem;
  display: inline-block;
}

/* Home Navigation link - bring to far left */
.navigation-bar__homenav {
  padding-left: 20px;
  margin-right: auto;
  text-decoration: none;
  color: #858585;
}

/* Navigation links container */
.navigation-bar__nav {
  display: flex;
  gap: 20px;
  margin-left: 450px;
  align-items: center;
  /* justify-content: center; */
  /* flex-grow: 0.8; */
}

/* Navigation link styles */
.navigation-bar__link {
  font-size: 16px;
  font-weight: 400;
  color: #858585;
  text-decoration: none;
  padding: 10px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.navigation-bar__link:hover {
  color: #000000;
}

/* Active navigation link styles */
.navigation-bar__link--active {
  font-weight: 500;
  color: #000000;
  border-bottom: 3px solid #0000ff;
}
