/* Base container styles */

.category-tabs__nav,
.category-tabs__button {
  font-family: 'GothamPro', sans-serif;
}

.category-tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
}

.category-tabs__container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

/* Navigation container styles */
.category-tabs__nav {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

/* Button styles */
.category-tabs__button {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  background: none;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  text-transform: capitalize;
  transition: color 0.2s, border-bottom 0.2s;
}

.category-tabs__button:hover {
  color: #000000;
}

/* Active button styles */
.category-tabs__button--active {
  font-weight: 500;
  color: #000000;
  border-bottom: 2px solid #0000ff; /* Active underline color */
}

/* Inactive button styles */
.category-tabs__button--inactive {
  color: #858585;
  border-bottom: 2px solid transparent;
}
